head
    meta(charset='utf-8')
    title Stratagem
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
    style
        include ../public/style.css
body.home-page
    header
        h2#logo 
            a(href='/') Stratagem
        .user-info()
            if (loggedIn == true)
                .profile
                    a#profile-btn Profile
                    .profileDropdown
                        a(href='/dashboard')#dashboard-btn Dashboard
                    a(href='/logout')#signup-btn Logout
            else
                a(href='/login')#login-btn  Login
                a(href='/signup')#signup-btn Sign Up

script.
    var profileDrop = document.querySelector('.profileDropdown');
    
    function loadDropdown() {
        profileDrop.classList.remove('hideForm')
    }

    function removeDropdown() {
        profileDrop.classList.add('hideForm')
    }

    