head
    meta(charset='utf-8')
    title Stratagem
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
    style
        include ../public/style.css
body.home-page
    include header      

script.
    var profileDrop = document.querySelector('.profileDropdown');
    
    function loadDropdown() {
        profileDrop.classList.remove('hideForm')
    }

    function removeDropdown() {
        profileDrop.classList.add('hideForm')
    }

    