- var projectName = projectName
- var projects = projects
- var toDoItems = toDoItems

doctype html
head
    link(href='../public/style.css' rel='stylesheet' type='text/css')
body
    .header
        h1 to do app
    .projects
        button #{projectName}
        each project in projects
            li = project
        button Create New
    .workspace
        table
            tr
                td 
                    rect()
                td Description
                td Due Date
                td Priority
                td Date Created
            each item in toDoItems
                tr
                    td 
                        circle()
                    td = item.description
                    td = item.dueDate
                    td = item.priority
                    td = item.dateCreated

