:root {
    --primary-color:  #000839;
    --secondary-color: #005082;
    --third-color: #00a8cc;
    --pop-color: #ffa41b;
    --neutral-color: white;
    --font: "Poppins";
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: var(--pop-color);
}

li {
    list-style: none;
}

button {
    width: 100%;
}

.hide {
    display: none !important;
}

form * {
    width: 100%;
}

button:hover, .pointer:hover {
    cursor: pointer;
}

/** Header **/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo, .user-info {
    padding: 24px;
}

#login-btn, #profile-btn, #signup-btn {
    color: var(--primary-color);
    font-size: 1em;
    padding: 0 0.5em;
    border: none;
    background-color: white;
    display: inline;
}

#login-btn:hover, #profile-btn:hover, #signup-btn:hover, #logo *:hover {
    color: var(--pop-color);
}

.profileDropdown {
    position: absolute;
    background-color: black;
    top: 130%;
    right: 35%;
    padding: 10px;
    display: none;
    border-radius: 5px;
}

.user-info {
    box-sizing: border-box;
}

.profile {
    display: inline;
    box-sizing: border-box;
    position: relative;
}

#profile-btn:hover + .profileDropdown, .profileDropdown:hover{
    cursor: pointer;
    display: block;
}

#dashboard-btn {
    color: white;
}

.profileDropdown:hover{
    background-color: rgb(56, 56, 56);
}

.profileDropdown::before {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0%;
    height: 10px;
}

.profileDropdown::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 40%;
    margin-left: 5px;
    border: 5px solid;
    border-color: transparent transparent black transparent;
}

/** Homepage **/


/** Signup & Login **/

#error {
    text-align: center;
    color: rgb(255, 0, 0);
}

#success {
    text-align: center;
    color: rgb(0, 109, 0);
}

.signup, .login {
    background-color: white;
    padding: 1em;
    max-width: 400px;
    margin: auto;
    border-radius: 5%;
    margin-top: 25vh;
}

.signup *, .login * {
    display: block;
    width: 100%;
}

form * {
    padding: 1em 0;
    margin: 1em 0;
}

form input, form textarea {
    padding: 1em;
}

/* Dashboard */

.dashboard-layout {
    display: grid;
    grid-template-areas: 
                "nav list details";
    grid-template-columns: minmax(0, 1fr) 2fr minmax(0, 1fr);
    margin: 0 3em;
    grid-column-gap: 1em;
}

@media (max-width: 1000px) {
    .dashboard-layout {
        grid-template-areas: 
                "nav list";
        grid-template-columns:minmax(0, 1fr) 2fr;
    }

    .details {
        display: none;
    }
}

/* Sidebar */

.sidebar-nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 90px;
}

.sidebar-nav li{
    padding: 10px 0;
    border-bottom: 1px solid rgb(204, 204, 204);
}

/* Table */

.table {
    grid-area: list;
    display: flex;
    flex-direction: column;
}

/* Project-specific */

.project-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 5px;
}

.project-header span:nth-child(n+2), .project-list li div:nth-child(n+2) {
    padding: 0 5px;
}

.project-list {
    display: grid;
}

.project-list li {
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
    margin: 1em 0;
}

.projDel {
    position: absolute;
    top: 30px;
    min-width: 60px;
}

.projDel::after {
    content: "";
    position: absolute;
    bottom: 83%;
    left: 35%;
    margin-left: 5px;
    border: 5px solid;
    border-color: transparent transparent black transparent;
}

.options {
    max-height: 50px;
    position: relative;
}

#optionsBtn:hover * {
    fill: rgb(204, 204, 204);
}

/* To Do Specific */

.item-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 5px;
}

.item-header > div > * {
    
    text-align: left;
}

.item-header div a {
    height: auto;
}

.sortBy {
    padding: 0 5px;
}

.sortBy:hover {
    background-color: rgb(204, 204, 204);
}

.titleSmall:hover {
    cursor: pointer;
}

.overDue {
    color: rgb(255, 0, 0);
}

.toDoList {
    display: grid;
}

.toDoList li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    margin: 1em 0;
}

.toDoList li a {
    color: var(--primary-color);
}

.toDoList li:not(.createItemSection):hover {
    background-color: lightgray;
}

.completed {
    text-decoration: line-through;
}

.dropdownDetails {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
    position: relative;
}

.dropdownDetails::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 48%;
    border: 10px solid;
    border-color: transparent transparent black transparent;
}

#completeCheckbox {
    display: inline-block;
}

.details-content > * {
    padding-bottom: 10px;
}

.createItemSection {
    display: block !important;
}

.createItemForm *:nth-child(2) {
    text-align: left;
    margin-left: 1em;
    width: 0;
}

#createItem:hover {
    cursor: pointer;
}

/* Table formatting */

.item-header > div:nth-child(1), 
.toDoList li div:nth-child(1),
.project-header span:nth-child(1),
.project-list li div:nth-child(1) {
    min-width: 85px;
}

.item-header > div:nth-child(2), 
.toDoList li > *:nth-child(2),
.project-header span:nth-child(2),
.project-list li div:nth-child(2) {
    min-width: 125px;
}

.item-header > div:nth-child(3), 
.item-header > div:nth-child(4), 
.toDoList li div:nth-child(3), 
.toDoList li div:nth-child(4), 
.toDoList li div:nth-child(5) {
    min-width: 90px;
}

.item-header > div:nth-child(-n+3), 
.toDoList li > *:not(:last-child), 
.project-header span:nth-child(-n+2), 
.project-list li div:nth-child(-n+2) {
    border-right: 1px solid rgb(204, 204, 204);
}

.project-header span:nth-child(4),
.project-list li div:nth-child(4) {
    min-width: 60px;
}

.item-header > div:nth-child(n+2), .toDoList li > *:nth-child(n+2) {
    padding-left: 5px;
}

.toDoList li > *, .project-list li div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.item-header > div, .project-header > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Details Section */

.details {
    grid-area: details;
}



/* Types of Buttons */

.delBtn {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid black;
    padding: 1em 0;
    color: rgb(255, 255, 255);
}

.delBtn:hover {
    background-color: rgb(133, 0, 0);
}

.neutralBtn {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1em 0;
}

.posBtn {
    background-color: var(--pop-color);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1em 0;
}

.posBtn:hover {
    background-color: rgb(255, 180, 82);
}

.neutralBtn:hover {
    background-color: var(--pop-color)
}


